html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Overpass';
  color: rgba(255, 255, 255, 0.957);
  
}

.container {
  height: 100%;
}

.container > div {
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

h1, h2{
  padding: 1em;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px black;
}
p {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.276);
  text-align: center;
  font-size: 24px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px black;
}
strong {
  display: flex;
  margin: auto;

}
ul{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px black;
}
li{
  background-color: rgba(201, 216, 221, 0.38);
  list-style: none;
  text-align: center;
  font-size: 24px;
}

.header{
  background-color: cadetblue;
  background-image: url("./blue.jpg");
}

.skills{
  background-color: cornflowerblue;
  background-image: url("./purple.jpg");
}

.work-experience {
  background-color: darkseagreen;
  background-image: url("./blue2.jpg");
}

.lnks {
  background-color: goldenrod;
  background-image: url("./purple2.jpg");
}

.contact {
  background-color: indianred;
  background-image: url("./blue3.jpg")
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
}

.nav-bar > a {
display: block;
text-decoration: none;
padding: 1em;
background-color: rgba(255, 255, 255, 0.5);
color: #000;
}

a.selected {
background-color: rgba(0,0,0,0.5);
color: #fff;
}
  
  /* a.selected {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
  } */

img{
  border-radius: 100%;
}


.centered{
  width: 50%;
  margin: auto;
}

.img-center{
 display: flex;
 margin: auto;
 

}





.header-logo img{
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}


.lkn-flex {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}


.footer {
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(54, 54, 54, 0.295);
  color: white;
  text-align: center;
}




.text{
  text-align: center;
  padding: 50px;
}

.text__3d{
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 68px;
  line-height: 68px;
  position: relative;
  z-index: 0;
  color: #F3F3F3;
  text-decoration: none;
}

.text__3d:before,
.text__3d:after{
	content: attr(data-line);
  position: absolute;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.text__3d:before{
  color: #fd0258;
  top:0;
  left: 0;
  z-index: -1;
  transform: rotate(-3deg);
  animation: shakeBefore .7s cubic-bezier(.36,.07,.19,.97) both infinite;
  animation-delay: .3s;
}

.text__3d:after{
  color: #33e089;
  top: 0px;
  left: 0px;
  z-index: -2;
  animation: shakeAfter .7s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: rotate(3deg);
}

@keyframes shakeBefore {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes shakeAfter {
  10%, 90% {
    transform: translate3d(2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}