@import url('https://fonts.googleapis.com/css?family=Righteous');

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Courgette', cursive;
  color: rgba(255, 255, 255, 0.957);
  
}

.container {
  height: 100%;
}

.container > div {
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

h1, h2{
  padding: 1em;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px black;
}
p {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.276);
  text-align: center;
  font-size: 24px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px black;
}
strong {
  display: flex;
  margin: auto;

}

li{
  background-color: rgba(201, 216, 221, 0.38);
  list-style: none;
  text-align: center;
  font-size: 24px;
}
.typo{
	font-family: 'Dancing Script', cursive;
	font-size:4rem;
	display:inline-block;
	font-weight: bold;
	letter-spacing:2px;
	text-transform: uppercase;
	position:relative;
	left:16%;
	top:10px;
	color:#EEE5E9;
	transform: skew(-5deg,-5deg) rotate(5deg);
	transform-origin:center center;
	text-shadow: 	1px 1px #420039,
								2px 2px #420039,
								3px 3px #420039,
								4px 4px #420039,
								5px 5px #420039,
								6px 6px #420039,
								7px 7px #420039,
								8px 8px #000100,
								9px 9px #000100,
								10px 10px #000100;
}

#link {
  color: #09BC8A;
}

.header{
  background-color: cadetblue;
  background-image: url("./blue.jpg");
}

.skills{
  background-color: cornflowerblue;
  background-image: url("./purple.jpg");
}

.work-experience {
  background-color: darkseagreen;
  background-image: url("./blue2.jpg");
}

.lnks {
  background-color: goldenrod;
  background-image: url("./purple2.jpg");
}

.contact {
  background-color: indianred;
  background-image: url("./blue3.jpg")
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
}

.nav-bar > a {
display: block;
text-decoration: none;
padding: 1em;
background-color: rgba(255, 255, 255, 0.5);
color: #000;
}

a.selected {
background-color: rgba(0,0,0,0.5);
color: #fff;
}
  
  /* a.selected {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
  } */

img{
  border-radius: 100%;
}


.centered{
  width: 50%;
  margin: auto;
}

.img-center{
 display: flex;
 margin: auto;
 padding-top: 30px;

}

.header-logo img{
  
  position: relative;
  left: 16%;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.399);
}


.lkn-flex {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}


.footer {
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(54, 54, 54, 0.295);
  color: white;
  text-align: center;
}


