
/* Navbar */
/* ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  } */

  body, html {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: 'Overpass';
    color: rgba(255, 255, 255, 0.957);
    
  }

  .container {
    height: 100%;
  }

  .container > div {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
  }

  h1, h2{
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  p {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }

  .header{
    background-color: cadetblue;
    background-image: url("./blue.jpg");
  }

  .skills{
    background-color: cornflowerblue;
    background-image: url("./purple.jpg");
  }

  .work-experience {
    background-color: darkseagreen;
    background-image: url("./blue2.jpg");
  }

  .lnks {
    background-color: goldenrod;
    background-image: url("./purple2.jpg");
  }

  .contact {
    background-color: indianred;
    background-image: url("./blue3.jpg")
  }

  .parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-bar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
  }

.nav-bar > a {
display: block;
text-decoration: none;
padding: 1em;
background-color: rgba(255, 255, 255, 0.5);
color: #000;
}

a.selected {
background-color: rgba(0,0,0,0.5);
color: #fff;
}
  
  /* a.selected {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
  } */

img {
    border-radius: 100%;
}


.centered{
  width: 50%;
  margin: auto;


}
.header-image{
  justify-content: center;
}

.img-center {
 margin-left: 50%;
 left: 50%;
 position: absolute;
}


.lkn-flex {
  display: flex;
  justify-content: space-between;
}